In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle
from tensorflow.keras.models import load_model
import os
print(os.getcwd())

c:\Study-Material\ANN Classification\logs

In [46]:
# Load the trained model,scaler,onehot

model=load_model(r'C:\Study-Material\ANN Classification\ann_model.h5')

with open(r'C:\Study-Material\ANN Classification\scaler.pickle.pkl','rb') as file:
    scaler=pickle.load(file)

with open(r'C:\Study-Material\ANN Classification\label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open(r'C:\Study-Material\ANN Classification\onehot_encoder_geography.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

In [47]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [48]:
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))

c:\Study-Material\ANN Classification\aenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [49]:
geo_encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [50]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [51]:
### Encode categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [52]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [53]:
input_df = pd.concat([input_df.drop("Geography",axis=1), geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [54]:
## Scaling the input data

input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [55]:
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 154ms/step

array([[0.00495102]], dtype=float32)

In [56]:
prediction_prob=prediction[0][0]

In [57]:
prediction_prob

0.0049510174

In [58]:
if prediction_prob>0.5:
    print(f"The customer is likely to leave the bank ")
else:
    print(f"The customer is likely to stay with the bank ")

The customer is likely to stay with the bank